.wrap-login100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

#home-title {
    padding-bottom: 20px !important;
}

#login {
    background:white;
    border: 1px solid #00a088;
    color: #00a088;
}

#logo-company {
    margin-top: 50px;
}
