<style>
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
</style>
{% if session.logged_in %}
<nav class="navbar navbar-expand" style="height: 70px; background: #00a088;">
    <div class="container">
        <div class="navbar-header">
            {% if session.logged_in %}
            <a class="navbar-brand" style="padding-top: 0px;" href="/dashboard">
            {% endif %}
                <img src="{{ url_for('static', filename='images/logo-taloo.png') }}" alt="" width="210" height="65">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="margin-top: 10px;">
            <ul class="nav navbar-nav ml-auto">
                {% if session.logged_in %}
                    <a>{% print(filled) %}</a>
                    <li><a href="/logout" style="color: white;">Salir</a></li>
                {% else %}
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Ingresar</a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endif %}
