{% if session.logged_in %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>.nav-link { color: #a4a6ab; font-size: 13px;} .space-right { margin-right: 10px;}</style>
<li class="nav-item">
    <a class="nav-link" href="/dashboard">
    <i class="fa fa-user-circle fa-2x space-right"></i>
    MI PERFIL <span class="sr-only">(current)</span>
    </a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="#">
    <i class="fa fa-building fa-2x space-right"></i>
    MIS EMPRESAS
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
    <i class="fa fa-file-word-o fa-2x space-right"></i>
    MIS ARTÍCULOS
    </a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="/jobs">
    <i class="fa fa-tags fa-2x space-right"></i>
    JOBS DISPONIBLES
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/my_jobs">
    <i class="fa fa-pencil fa-2x space-right"></i>
    MIS JOBS
    </a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="#">
    <i class="fa fa-envelope fa-2x space-right"></i>
    INBOX
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
    <i class="fa fa-cog fa-2x space-right"></i>
    CONFIGURACIONES
    </a>
</li> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
// $("#navbar ul li a").on('click', function(){
//    $("li a").removeClass("active");
//    $(this).addClass("active");
//    localStorage.setItem('active', $(this).parent().index());
// });

// var ele = localStorage.getItem('active');
// $('#navbar ul li:eq(' + ele + ')').find('a').addClass('active');
$(document).ready(function() {
        $("#navbar ul a").click(function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });
    });
</script>
{% endif %}