{% extends 'layout.html' %}
{% from 'includes/_formhelpers.html' import render_field %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<style>
    #ready-input {
        margin-top: 160px;
        margin-right: 100px;
        z-index: 1;
    }

    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 50px auto;
    }

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

    .avatar-upload .avatar-edit form input {
        display: none;
    }

    .avatar-upload .avatar-edit form input+label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }

    .avatar-upload .avatar-edit form input+label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

    .avatar-upload .avatar-edit form input+label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }

    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview>div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .upload {
        background: #00a088;
        border-radius: 25px;
        height: 45px;
        width: 100px;
        color: white;
        margin-top: 15px;
    }

    .form-upload {
        background: #e9ecef;
    }

    .upload-file-position {
        padding-top: 20px;
        padding-left: 20px
    }

    .form-control {
        border-radius: 15px;
    }

    .space-bottom {
        margin-bottom: 25px;
    }

    .space-top {
        margin-top: 25px;
    }

    .side {
        margin-left: 25px;
        margin-right: 25px;
    }

    .round {
        border-radius: 5px;
        border: 1px solid black;
        background: white
    }

    label {
        font-size: 14px;
    }

    h5 {
        color: #694892;
        font-size: 16px;
    }

    body {
        background: #f9f7f7;
    }

    .full-horizontal {
        padding-top: 90px;
        padding-left: 40px;
    }
</style>
<!-- <link href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet"> -->
<div class="container space-bottom">
    <div class="form-row list-inline">
        <div class="form-group col-md-3">
            <h2>Hola {{ user }}, Este es tu perfil</h2>
        </div>
        <div class="form-group">
            <img src="{{ url_for('static', filename='images/lampara_taloo.png') }}" height="100px" width="65px">
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid col-md-8 round" style="padding-top: 0px">
    <div class="container side col-md-10">
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>
        <div class="container">
            <div class="form-row list-inline">
                <div class="form-group">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <!-- <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label> -->
                            <form method="POST" enctype="multipart/form-data" name="myform">
                                <input type='file' id="imageUpload" name="file" autocomplete="off" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                                {{ form_avatar.submit_avatar(class_="form-control upload", id="submit_avatar") }}
                            </form>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url({{ avatar_url }});">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group full-horizontal">
                    <label>Sube tu Currículum (formato pdf, word, etc)</label>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" autocomplete="off" id="file" required>
                        {{ form_cv.submit_upload(class_="form-control upload") }}
                    </form>
                </div>
            </div>
        </div>

        <form method="POST" action="">
            <div class="accordion space-bottom" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5>Datos Personales</h5>
                            </button>
                        </h2>
                    </div>

                    {{ form.csrf_token }}
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ render_field(form.name, class_="form-control", placeholder="Fernando") }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ render_field(form.lastname, class_="form-control", placeholder="Rubio") }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ render_field(form.email, class_="form-control", placeholder="fernando@taloo.cl") }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ render_field(form.phone, class_="form-control", placeholder="+569 1111 2222") }}
                                </div>
                            </div>
                            <div class="form-row space-bottom">
                                <div class="form-group col-md-4">
                                    {{ render_field(form.birthdate, class_="form-control datepicker", placeholder="16/02/1983") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5>Dirección</h5>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ render_field(form.direccion, class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-row space-bottom">
                                <div class="form-group col-md-4">
                                    {{ render_field(form.country, class_="form-control", placeholder="Chile") }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ render_field(form.comuna, class_="form-control", placeholder="La Reina") }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ render_field(form.postal, class_="form-control", placeholder="732199") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h5>Presencia en la Web</h5>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    {{ render_field(form.web, class_="form-control") }}
                                </div>
                                <div class="form-group col-md-8">
                                    {{ render_field(form.linkedin, class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4 space-bottom">
                                    {{ render_field(form.twitter, class_="form-control", id="editor") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    {{ form.submit_update(class_="form-control upload") }}
                </div>
            </div>


            <!-- <div class="form-row">
                <div class="form-group col-md-12">
                    <h3> Ingresa el logo de tu empresa</h3>
                    
                </div>
            </div> -->
        </form>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function() {
        readURL(this);
        $("#submit_avatar").click();
    });
</script>
{% endblock %}