{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .upload {
        background: #00a088;
        border-radius: 25px;
        height: 45px;
        width: 100px;
        color: white;
    }

    .form-upload {
        background: #e9ecef;
    }
</style>
<!-- <link href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet"> -->
<div class="container">
    <div class="jumbotron jumbotron-fluid" style="border-radius: 15px; margin-top: 25px;">
        <div class="container">
            <h1 class="display-4 text-center">Sube tu Currículum 🎉</h1>
            <p class="lead text-center">Selecciona un archivo para subir tu currículum, puede tener la extensión pdf, doc o docx </p>
        </div>
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </p>
</div>

<div class="container">
    <div class="form-inline justify-content-center">
        <form method="post" enctype="multipart/form-data" class="">
            <input type="file" name="file" autocomplete="off" id="file" required>
            <input type="submit" value="Subir" class="upload">
        </form>
    </div>
</div>

{% endblock %}