{% extends 'layout.html' %}

{% block body %}
<title>Sube tu Currículum</title>
<h2>Selecciona un archivo para subir tu currículum</h2>
<h4>¡Puedes subir tu currículum en pdf o word!</h4> 
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>
<form method="post" enctype="multipart/form-data" style="margin-top:30px;">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Subir">
    </p>
</form>
{% endblock %}